*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(16, 11, 13);
    min-height: 100vh;
    border: 10px solid rgb(227, 30, 142) ;
    color: aliceblue;
}
.content {
    max-width: 900px;
    margin: 0 auto;
}
.top_section {
    margin-top: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: flex-end;
}
.top_section h1 {
    font-size: 60px;
    font-weight: bold;
    color: rgb(1, 158, 121);
}
.top_section h4 {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(147, 5, 150);
    text-align: end;
}
.about_section {
    margin: 50px;
}
.about_section h2 {
    font-size: 50px ;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about_section p {
    font-size: 30px;
}
.link {
    font-size: 30px;
    text-transform: uppercase;
    text-align: end;
}